body{
    font-family: 'Montserrat', sans-serif;
}


header{
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    height: 100px;
    left: 0%;
    position: static;

}

.menu-izquierda{
    width: 200px;
    height: 550px;
    line-height: 75px;
    overflow: scroll;
    position: fixed;

}

.imagen{
    height: 188px;
    width: 150px;
    filter: grayscale(1);
}

.imagen-actual{
    height: 188px;
    width: 150px;
}

.imagen:hover{
    filter: grayscale(0);

    transition-duration: 1s;
}

.bloque-imagen{
    left: 15%;
    position: relative;
    overflow: hidden;
}

.imagen-grande{
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;

}

texto{
    left: 57.5%;
    position: relative;
    margin-left: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.derecha{
    position: absolute;
    top: 15%;
    width: 40%;
    height: 100%;
    left: 60%;
}
.texto-derecha{
    position: relative;
    margin-left: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#titulo{
    top: 50%;
    text-align: center;
;
}

#año{
    top: 48%;
}

#descripcion{
    top: 44%;
}

#precio{
    top: 46%;
}

#boton{
    top: 50%;
    left: 37%;
    background-color: #97c1c0;
    border-radius:15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
}




